name: Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  Linting:
    name: ESLint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b #v3.0.2
      - name: Setup Node
        uses: actions/setup-node@17f8bd926464a1afa4c6a11669539e9c1ba77048 #v3.2.0
        with:
          node-version: '18.2.0'
          cache: npm
      - name: Install Packages
        run: npm ci
      - name: Run ESLint
        run: npm run ciLint

  Building:
    name: ESBuild
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b #v3.0.2
        with:
          submodules: true
      - name: Setup Node
        uses: actions/setup-node@17f8bd926464a1afa4c6a11669539e9c1ba77048 #v3.2.0
        with:
          node-version: '18.2.0'
          cache: npm
      - name: Install Packages
        run: npm ci
      - name: ESBuild
        run: npm run cleanBuild

